.undraggable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.drabbable{
    z-index: 1000;
    text-align: center;
    cursor: grab;
    color: #fff;
}

.moving{
    cursor: grab;
    position: absolute;
    width: 300px;
    opacity: .1;
    z-index: 1000;
    transition: all .3s;
}

.copyDraggable{
    cursor: grab;
    position: absolute;
    width: 300px;
    opacity: .5;
    border: #0f0f12 5px solid;
}

.dropdown-custom{
    background-color: #798c9c;
}
