.undraggable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

.drabbable{
    z-index: 1000;
    border: 3px solid #d3d3d3;
    text-align: center;
    padding: 20px;
    cursor: move;
    color: #fff;
}

.moving{
    position: absolute;
    width: 300px;
}

