.undraggable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.drabbable{
    z-index: 1000;
    text-align: center;
    cursor: grab;
    color: #fff;
}

.moving{
    cursor: grab;
    position: absolute;
    width: 300px;
}

